<div class="left-menu">
  <form class="form-inline">
    <div class="form-group row left-menu-input">
      <label class="col-4 col-form-label" for="level">Level</label>
      <div class="col-8">
        <input type="number" name="level" class="form-control" id="level" [readonly]="game.isRunning" (ngModelChange)="onLevelChange();" [(ngModel)]="level" min="1" max="10"step="1">
      </div>
    </div>
    <div class="form-group row left-menu-input">
      <label class="col-4 col-form-label" for="score">Score</label>
      <div class="col-8">
        <input type="number" name="score" class="form-control" id="score" [(ngModel)]="game.score" readonly>
      </div>
    </div>
    <div class="form-group row left-menu-input">
      <label class="col-4 col-form-label" for="highestScore">Highest score</label>
      <div class="col-8">
        <input type="number" name="highestScore" class="form-control" id="highestScore" [(ngModel)]="game.highestScore" readonly>
      </div>
    </div>
  </form>
</div>
